@media screen and (max-width: 1500px) {
  .addTaskFooter {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    bottom: 80px;
    position: fixed;
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .addTaskFooter {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    bottom: 100px;
    position: fixed;
    width: 40%;
  }
}

/* @media screen and (max-width: 600px) {
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 320px) {
} */
