.board-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.board-functions {
    display:flex;
    gap:50px;
}

.kanban-col-hl {
    display:flex;
    justify-content: space-between;
}

.kanban-board-col {
    width:20%;
}

.kanban-board {
    display:flex;
    justify-content:space-between;
}

.kanban-tasks {
    display:flex;
    flex-direction: column;
    gap:20px;
    min-height: calc(100% + 200px);
}

.kanban-tasks-highlight {
    background-color: #dddcdc;
}

.btn-add-task-to-column {
    cursor:pointer;
}

.no-task-info {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    background-color: #E7E7E7;
    font-size: x-large;
    color:darkgrey;
    border-radius:10px;
    height:75px;
    border-color: rgb(73, 73, 73);
}

.task-info {
    padding:25px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    font-size: medium;
    color:black;
    border-radius:10px;
    cursor:pointer;
}

.task-info span {
    color:rgb(185, 185, 185);
}

.task-cat {
    width:fit-content;
    background-color: black;
    border-radius:10px;
    color:white;
    padding:8px 15px;
}

.progress, .task-add-info {
    padding-top:20px;
    display:flex;
    justify-content: space-between;
}

.participants {
    display:flex;    
    justify-content: flex-start;

}

.user-in {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius:25px;
    color:white !important;
    width:40px;
    height:40px;
    margin-left:-10px;
    position: relative;
    z-index:1;
    border: 2px solid white;
}

.progress-counter {
    font-size: small;
}

.technical {
    background-color:#1FD7C1;
}

.story {
    background-color:#0038FF;
}

.progress {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:10px;
}

.progress-bar {
    width: 60%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.current-progress {
    height: 100%;
    width: 50%; 
    background-color: #76c7c0;
    text-align: center;
    line-height: 30px; 
    color: white;
    font-weight: bold;
}

.search-task {
    display:flex;
    align-items: center;
    background-color:white;
    border:solid 1px rgb(185, 185, 185);
    z-index:10;
    border-radius:10px; 
    height:50px;    
}

.search-task:focus-within {
    border:solid 1px #29abe2;
}

input.filter-tasks-field {
    height:45px;
    margin-left:20px;
    width:250px;        
    color: gray;
    border: unset;
    font-size: 20px;
    font-weight: 400;  
    z-index:0;      
}

input.filter-tasks-field:focus {
    outline: none;
}



.search-seperator {
    width:1px;
    height:90%;
    background-color: lightgray;

}

img.spyglass {
    width:40px;
    padding:10px;
}

.btn-add-task {
    background-color: #2a3647;
    border-radius:10px;
    color:white;
    font-size:x-large;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    min-width:200px;
    cursor:pointer;
}

.btn-add-task:hover {
    background-color: #091931;
}

.preview-task {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.1); 
}

@keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
}

.shake {
    animation: shake 1.5s;
    animation-iteration-count: 1sec;
}