.choosingContact img {
  position: absolute;
  top: 20px;
  right: 16px;
}

.addTaskPlusIMG {
  position: absolute;
  top: 25px;
  right: 16px;
}

/* IMG Footer */
.check {
  width: 25px;
  height: 25px;
}

.cancelX {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.clearBTNFooter:hover img {
  filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg)
    brightness(96%) contrast(97%);
}

.clsX {
  position: relative;
  float: right;
  width: 25px;
  height: 25px;
}

/* IMGs Prio */
.addTaskBTNImg {
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.addTaskBTN#urgent.active .addTaskBTNImg img {
  filter: brightness(0) invert(1);
}

.addTaskBTN#medium.active .addTaskBTNImg img {
  filter: brightness(0) invert(1);
}

.addTaskBTN#low.active .addTaskBTNImg img {
  filter: brightness(0) invert(1);
}

/* Subtasks */
.addTaskBTNAddSubtask {
  position: absolute;
  right: 16px;
  top: 25px;
}

.d-none {
  display: none;
}

.addTaskCheckDel {
  display: flex;
  justify-content: flex-end;
  width: 14px;
  position: absolute;
  right: 8%;
  gap: 4px;
  bottom: 9px;
  color: #2a3647;
}

.accept {
  height: 40px;
  position: relative;
  top: 7px;
  bottom: 0px;
  left: 10px;
  display: none;
}

.accept:hover {
  filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg)
    brightness(96%) contrast(97%);
}

.delContent {
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 80px;
  display: none;
}

.delContent:hover {
  filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg)
    brightness(96%) contrast(97%);
}

/* Subtask */
.subtaskTakeover {
  height: 40px;
}

.delSubtask {
  height: 30px;
}

.showTaskSubtaskEditBTN img {
  width: 55px;
}
